<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="modelo-listar" routerLinkActive="active" class="nav-link"> Listar modelos </a>
      </li>
      <li class = "nav-item">
          <a routerLink="modelo-criar" routerLinkActive="active" class="nav-link"> Criar modelo </a>
      </li>
  </ul>
</nav>

<br>


<br>

<h1 class="text-center"> e-Avaliação </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>Todos os Direitos Reservados 2022 MOPA S.A.</span>
    </div>
</footer>