<h2> Modelos de Avaliação </h2>

<p-table [value]="modelos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Descrição</th>
            <th>Períodos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-modelo>
        <tr>
            <td>{{modelo.nome}}</td>
            <td>{{modelo.sigla}}</td>
            <td>{{modelo.descricao}}</td>
            <td>{{modelo.periodos}}</td>
        </tr>
    </ng-template>
</p-table>