<h3> Modelos de Avaliação </h3>

<p-table [value]="modelos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Descrição</th>
            <th>Períodos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-modelo>
        <tr>
            <td>{{modelo.nome}}</td>
            <td>{{modelo.sigla}}</td>
            <td>{{modelo.descricao}}</td>
            <td>                 
                <button pTooltip="Detalhar" pButton icon="pi pi-info-circle"
                                    (click) = "listarPeriodos(modelo.id)"
                                    class="p-button-raised p-button-text primary p-mr-2">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>